.aboutUs-container{
    width: 100vw;
    background-color: $backgroun_color1;
    color:$cfDev_textPrimaryColor;
    padding-top: 15vh;
    padding-bottom:2% ;

    h3{
        font-family: $cfDev_primaryFont;
        font-size: 2.8rem;
        font-weight:400;
        color: $cfDev_textPrimaryColor;
    }
}

.aboutUs-center-container{
    height: 80vh;
    width: 100%;
    display: flex;
    
}

.section-title{
    margin-left: 2%;
}



.aboutUs-article{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;

    h4{
        font-family: $cfDev_primaryFont;
        font-size: 2.8rem;
        font-weight: 300;
    }
    p{
        font-family: $cfDev_primaryFont;
        font-size: 1.7rem;
        margin-left: 10%;
        margin-right: 10%;

    }
}

.aboutUs-profile{
    width: 40%;
    aspect-ratio: 1;
    background-color:$cfDev_textPrimaryColor;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid;
    border-color: $cfDev_secundaryColor;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    };

   
}



