.aboutUs-container {
  width: 100vw;
  min-height: auto;
  background-color: $background_color2;
  color: $cfDev_textTertiaryColor;
  padding-top: 0;
  padding-bottom: 5%;

  h3 {
    font-family: $cfDev_primaryFont;
    color: $cfDev_textSecondaryColor;
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 10%;
    color: $cfDev_textPrimaryColor;
  }

  .aboutUs-center-container {
    margin: 0 auto;
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    grid-template-rows: auto auto; /* Dos filas automáticas */
    gap: 30px; /* Espaciado entre los elementos */
  }

  article {
    color: $background_color4;
    padding: 1% 1% 1% 0;
    h4 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 1vh;
      color: $cfDev_textPrimaryColor;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 678px) {
  .aboutUs-container {
    h3 {
      font-family: $cfDev_primaryFont;
      font-size: 3.2rem;
      font-weight: 600;
      margin-left: 10%;
      margin-bottom: 2vh;
      color: $cfDev_textPrimaryColor;
    }

    .aboutUs-center-container {
      margin-top: 5vh;
      margin-bottom: 5vh;
      width: 80%;
      height: 80%;
      grid-template-columns: 1fr; /* Dos columnas de igual ancho */
      gap: 40px;
    }

    article {
      h4 {
        font-size: 2.2rem;
        margin-bottom: 1vh;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
