@import "../variables";

.clients-container{
    min-width: 100vw;
    background-color: $backgroun_color2;
    color: $cfDev_textPrimaryColor;
    font-family: $cfDev_primaryFont;
    padding-top: 15vh;
    padding-bottom: 10vh;
    h3 {
      font-family: $cfDev_primaryFont;
      font-size: 2.8rem;
      font-weight: 400;
      color: $backgroun_color1;
      margin-left: 2%;
    }
}

.clients-center-container{
  padding-top: 4%;
    margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  justify-content: center;
  gap: 40px;
}

.client-card{
  
aspect-ratio: 3;
    img{
        width: 100%;
        object-fit:contain;
        filter: grayscale(100%) sepia(50%) hue-rotate(0deg) saturate(0%) brightness(100%) contrast(100%);
        transition: 1s
    };

    img:hover{
      transform: scale(1.1);
    }
}




@media screen and (max-width:1200px) {

  .clients-center-container{
    margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  justify-content: center;
  gap: 3vw;
}

}



@media screen and (max-width:678px) {

  .clients-container { h3{
    font-size: 4rem;
    text-align: center;
}}

  .clients-center-container{
    margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  justify-content: center;
  gap: 10vw;
}

}

