.clients-container {
  min-width: 100vw;
  background-color: $background_color2;
  color: $cfDev_textPrimaryColor;
  font-family: $cfDev_primaryFont;
  padding-top: 2vh;
  padding-bottom: 2vh;
  > h3 {
    margin-left: 10%;
    font-size: 3rem;
    font-weight: 600;
    color: $cfDev_textPrimaryColor;
    margin-bottom: 2vh;
  }
}

.clients-center-container {
  padding-top: 1%;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 12%);
  justify-content: space-between;
  align-items: center;
  background-color: $background_color2;
}

.client-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 100%;
    height: 60px;
    object-fit: contain;
    filter: grayscale(100%) sepia(50%) hue-rotate(0deg) saturate(0%)
      brightness(100%) contrast(100%);
    transition: 1s;
  }

  img:hover {
    transform: scale(1.1);
  }

  .client-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: $cfDev_textPrimaryColor;
    margin-top: 0.8rem;
  }

  .client-info {
    font-size: 1.2rem;
    color: $cfDev_textSecondaryColor;
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .clients-center-container {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
    gap: 3vw;
  }
}

@media screen and (max-width: 678px) {
  .clients-container {
    padding-top: 12vh;
    h3 {
      margin-left: 10%;
      margin-bottom: 2vh;
      font-size: 2.8rem;
    }
  }

  .clients-center-container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }

  .client-card img {
    height: 45px;
  }
}
