.contact-container {
 
  padding-top: 10vh;
  padding-bottom: 15vh;
  width: 100vw;
  background-color: $background_color1;
  font-family: $cfDev_primaryFont;
  color: $cfDev_textTertiaryColor;
  h3 {
    font-size: 3rem;
    font-weight: 600;
    font-family: $cfDev_primaryFont;
    color: $background_color5;
    margin-left: 10%;
  }
  h4 {
    color: $cfDev_textTertiaryColor;
  }

  p {
    color: $background_color5;
  }
}

.section-title-contact {
  margin-left: 10%;
}

.contact-center-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 72vh;

  font-size: 1.8rem;
  font-weight: 500;

  label {
    margin-top: 10px;
  }

  input {
    width: 100%;
    height: 9%;
    border-radius: 15px;
    color: black;
    padding: 8px 15px;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  .input-warning {
    border: solid 2px;
    border-color: $cfDev_primaryColor;
    
  }

  textarea {
    width: 100%;
    height: 25%;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  button {
    margin-top: 5px;
    background-color: $cfDev_textPrimaryColor;
    color: $background_color5;
    width: 100%;
    height: 10%;
    text-align: center;
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.form-warning {
  font-size: 1.4rem;
  margin-bottom: 1%;
  color: $cfDev_primaryColor;
}

.contact-social-media {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  h4 {
    font-size: 3rem;
    font-weight: 600;
    color: $cfDev_primaryColor;
  }

  p {
    font-size: 1.7rem;
    color: $background_color5;
  }

  .social-media-icons {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 15px;
    align-items: start;
    font-size: 2rem;
  }

  .social-media-icon-file {
    display: flex;
    column-gap: 10%;
    width: 100%;
    height: 15%;
    align-items: center;
    color: $cfDev_primaryColor;
    a{
      text-decoration: none;
    }
  }

  svg:hover {
    color: $cfDev_primaryColor;
  }
}


@media screen and (max-width:678px) {
  .contact-center-container {
    padding-top: 4%;
  }

  .contact-container {
     h3{
      margin-left: 10%;
      font-size: 3rem;
}}

  .contact-center-container {
    grid-template-columns: 1fr;
    width: 80%;
  }

.contact-social-media {
  align-items: start;
  width: 100%;
  h4{
    font-size: 2.5rem;
  }
  p {
    font-size: 1.7rem;
    color: $cfDev_textTertiaryColor;
  }

  .social-media-icons {
    width: 80%;
    font-size: 2.5rem;
  }

  
}



.contact-form {
  width: 100%;
  height: 80vh;
}




}