@import "../variables";

.contact-container {
  padding-top: 15vh;
  width: 100vw;
  background-color: $backgroun_color1;
  font-family: $cfDev_primaryFont;
  color: $cfDev_textTerciaryColor;
  h3 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: $cfDev_primaryFont;
    color: $cfDev_textTerciaryColor;
  }
  h4 {
    color: $cfDev_textTerciaryColor;
  }

  p {
    color: "#E0E1E3";
  }
}

.section-title-contact {
  margin-left: 2%;
}

.contact-center-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
}

.contact-internal-contain {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 65%;
  height: 72vh;

  font-size: 1.8rem;
  font-weight: 500;

  input {
    width: 100%;
    height: 9%;
    border-radius: 15px;
    color: black;
  }

  .input-warning {
    border: solid 2px;
    border-color: $cfDev_primaryColor;
    
  }

  textarea {
    width: 100%;
    height: 25%;
    border-radius: 15px;
  }

  button {
    background-color: $cfDev_textPrimaryColor;
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.form-warning {
  font-size: 1.4rem;
  margin-bottom: 1%;
  color: $cfDev_primaryColor;
}

.contact-social-media {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  h4 {
    font-size: 3rem;
    font-weight: 600;
    color: $cfDev_textTerciaryColor;
  }

  p {
    font-size: 1.7rem;
    color: $cfDev_textTerciaryColor;
  }

  .social-media-icons {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 15px;
    align-items: start;
    font-size: 2rem;
  }

  .social-media-icon-file {
    display: flex;
    column-gap: 10%;
    width: 100%;
    height: 15%;
    align-items: center;
    color: $cfDev_primaryColor;
  }

  svg:hover {
    color: $cfDev_primaryColor;
  }
}


@media screen and (max-width:678px) {
  .contact-center-container {
    padding-top: 4%;
  }

  .contact-container {
     h3{
    font-size: 4rem;
    text-align: center;
}}

  .contact-center-container {
  flex-direction: column;
  width: 100%;
  }
  .contact-internal-contain {
    width: 100%;
  
}

.contact-social-media {
  align-items: center;
  width: 85%;
  h4{
    font-size: 2.5rem;
    
  }
  p {
    font-size: 1.7rem;
    color: $cfDev_textTerciaryColor;
    text-align: center;
  }

  .social-media-icons {
    width: 80%;
  
    font-size: 2.5rem;
  }

  
}



.contact-form {
  width: 80%;
  height: 80vh;
}




}