.header-container {
  position: relative; /* Establece el contexto de posicionamiento */
  width: 100vw;
  height: 85vh;
  background-color: $background_color3;
}

.header-center-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateX(100%); // Imagen que entra desde la derecha
  }

  .header-slogan-container {
    position: absolute;
    z-index: 1;
    color: $cfDev_textTertiaryColor;
    font-size: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(100%); // Imagen que entra desde la derecha
    padding-left: 2%;
      padding-right: 2%;
    h1 {
      font-weight: 600;
      line-height: 4.5rem;
    }
    h2 {
      font-weight: lighter;
    }

    > figure {
      margin-top: 1vh;
      width: 20vw;
      > img {
        object-fit: contain;
      }
    }
  }

  .active {
    opacity: 1;
    transform: translateX(0); // Imagen visible
  }

  .exiting {
    opacity: 0;
    transform: translateX(100%); // Imagen que sale hacia la izquierda
  }
}

.header-bottom-container {
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  border-top: 0.2px solid rgba($color: $cfDev_textTertiaryColor, $alpha: 0.5);
  border-bottom: 0.2px solid rgba($color: $cfDev_textTertiaryColor, $alpha: 0.5);
  width: 100%;
  height: 10vh;

  > p {
    font-size: 3rem;
    font-weight: 500;
    color: $cfDev_textTertiaryColor;
  }
}

@media screen and (max-width: 678px) {
  .header-container {
    height: 100vh;
  }

  .header-center-container {
    > img {
      height: 80%;
    }

    .header-slogan-container {
      font-size: 2.2rem;
      text-align: center;
  
      h1 {
        line-height: 3.2rem;
      }
      h2 {
        font-weight: lighter;
      }

      > figure {
        margin-top: 1vh;
        width: 50vw;
      }
    }
  }

  .header-bottom-container {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-wrap: wrap;

    > p {
      font-size: 1.7rem;
      font-weight: 500;
      color: $cfDev_textTertiaryColor;
    }
  }
}
