@import "../variables";

.services-container {
  min-width: 100vw;
  background-color: $backgroun_color1;
  padding-bottom: 3%;
  color: $cfDev_textPrimaryColor;
  font-family: $cfDev_primaryFont;
  padding-top: 15vh;
  h3 {
    font-family: $cfDev_primaryFont;
    font-size: 2.8rem;
    font-weight: 400;
    color: $cfDev_textTerciaryColor;
    margin-left: 2%;
  }
}

.services-center-container {
  padding-top: 4%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(2, 25vw);;
  justify-content: center;

  gap: 30px;
}


@media screen and (max-width:1200px) {

  .services-center-container {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(3, 31vw);;
    gap: 30px;
  }

}


@media screen and (max-width:678px) {

  .services-container { h3{
    font-size: 4rem;
    text-align: center;
}}
  .services-center-container {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 80vw);
    grid-template-rows: repeat(6, 60vw);;
    gap: 30px;
  }


 
}

