



@import "../variables";


.services-container {
    min-width: 100vw;
    background-color: $backgroun_color1;
    padding-bottom: 3%;
    color: $cfDev_textPrimaryColor;
    font-family: $cfDev_primaryFont;
    padding-top: 15vh;
    h3{
      font-family: $cfDev_primaryFont;
      font-size: 2.8rem;
      font-weight:400;
      color: $cfDev_textPrimaryColor;
      margin-left: 2%;
  }
  
  }
  
  

  
  .services-center-container {
    margin: 0 auto;
    width:fit-content;
    display: grid;
    grid-template-columns: repeat(3,20vw);
    gap: 30px;
 
  }
  
