.services-container {
  min-width: 100vw;
  background-color: $background_color5;
  padding-bottom: 3%;
  color: $cfDev_textPrimaryColor;
  font-family: $cfDev_primaryFont;
  padding-top: 10vh;
  padding-bottom:10vh;
  h3 {
    font-size: 3rem;
    font-weight: 600;
    color: $cfDev_textPrimaryColor;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
  >p{
    margin-left: 10%;
    width: 80%;
    color: $cfDev_tertiaryColor;
    font-size: 1.6rem;
  }
}

.services-center-container {
  padding-top: 4%;
  margin-left: 10%;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 18vw);

  gap: 30px;
}


@media screen and (max-width:1200px) {

  .services-center-container {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(3, 31vw);;
    gap: 30px;
  }

}


@media screen and (max-width:678px) {

  .services-container {

    h3 {
      font-family: $cfDev_primaryFont;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-left: 10%;
    }
    >p{
      margin-left: 10%;
      width: 80%;
      font-size: 1.6rem;
    }
  }
  .services-center-container {
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 80vw);
    gap: 30px;
  }


 
}

