.seccion-carrusel{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
    min-width: 100vw;
    height: 50vh;
    background-color: $background_color1;
    color:white;
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    }
 
}

.carrusel-slider{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  
  
}

.image-container{
  position: relative;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
 
}

.image-carrusel{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  
  
}


.arrows-left-container{
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 50;
  bottom: 5%;
  left: 2%;
  svg {
      height: 70px;
      width: 70px;
      opacity: 0.2;
      &:hover{
          color: $cfDev_primaryColor;
          opacity: 0.5;
        }
  }
}

.arrows-right-container{
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 50;
  bottom: 5%;
  right:2%;
  svg {
    height: 70px;
    width: 70px;
    opacity: 0.2;
    &:hover{
      color: $cfDev_primaryColor;
      opacity: 0.5;
    }
  }
}

.container-bullets{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 5%;
width: 10%;
height: 11%;
}

.bullet{
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: gray;
}
.selected-bullet{
  background-color: $cfDev_primaryColor;
}


.carrusel-center-container{
  position: absolute;
  height: 40%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-color:rgba($color: #000000, $alpha: 0.5);
  padding: 5%;
  z-index: 50;
  border-radius: 20px;

  h3{
      font-size: 4rem;
      text-transform:uppercase;
      
  }

  p{
      font-size: 3rem;
      text-transform:uppercase;
  }
}



//animation

.carruselReveal {
  animation-name: carruselReveal;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes carruselReveal {
  from {
 
    transform: translateX(-30%) ;
    opacity: 0;
  }
  to {
  
    transform: translateX(0%) ;
    opacity: 1;
  }
}


@media screen and (max-width:678px) {
  .container-bullets{

  width: 40%;
  height: 12%;
  }


  .carrusel-center-container{
  
  
    h3{
        font-size: 3rem;
        text-transform:uppercase;
        
    }
  
    p{
        font-size: 2rem;
  
    }
  }
  
}