@import "../variables";

.seccion-carrusel{
  position: relative;
  display: flex;
  justify-content: center;
    min-width: 100vw;
    height: 100vh;
    color:white;
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
    }
 
}

.carrusel-slider{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  
}

.image-container{
  position: relative;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.image-carrusel{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.arrows-left-container{
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 50;
  bottom: 5%;
  left: 2%;
  svg {
      height: 70px;
      width: 70px;
      opacity: 0.5;
      &:hover{
          color: $cfDev_primaryColor;
        }
  }
}

.arrows-right-container{
  height: 80px;
  width: 80px;
  position: absolute;
  z-index: 50;
  bottom: 5%;
  right:2%;
  svg {
    height: 70px;
    width: 70px;
    opacity: 0.5;
    &:hover{
      color: $cfDev_primaryColor;
    }
  }
}

.container-bullets{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 5%;
width: 10%;
height: 6%;
}

.bullet{
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: gray;
}
.selected-bullet{
  background-color: $cfDev_primaryColor;
}


.carrusel-center-container{
  position: absolute;
  height: 40%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-color:rgba($color: #000000, $alpha: 0.5);
  padding: 5%;
  z-index: 50;
  border-radius: 20px;

  h3{
      font-size: 5rem;
      text-transform:uppercase;
      
  }

  p{
      font-size: 3.5rem;
      text-transform:uppercase;
  }
}
