.footer{
    width: 100vw;
    height: 30vh;
    background: rgb(9,13,14);
    background: linear-gradient(315deg, rgba(9,13,14,1) 35%, rgba(28,37,40,1) 77%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    font-family: $cfDev_primaryFont;
    color:$cfDev_textPrimaryColor;
    

  
}

.footer-logo{
    width: 20%;
    height: 80%;
    margin-left: 1%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.footer-social-media{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

.footer-social-media-icons{
    display: flex;
    gap: 25px;
    align-items: center;
    a{
        text-decoration: none;
        color:$cfDev_textPrimaryColor;
        display: flex;
        align-items: center;
    }

    svg{
        height: 24px;
        width: 24px;
    }
}

.footer-privacy-link{
    color: #888;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s;

    &:hover{
        color: $cfDev_primaryColor;
    }
}


@media screen and (max-width:678px) {

    .footer{
        height: 50vh;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        width: 75%;
        height: 30%;
        margin-left: 1%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer-social-media{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-social-media-content{
        align-items: flex-start;
        margin-left: 10%;
    }

    .footer-social-media-icons{
        gap: 20px;

        svg{
            height: 22px;
            width: 22px;
        }
    }

    .footer-privacy-link{
        font-size: 1.2rem;
    }

}
