@import "../variables";

.footer{
    width: 100vw;
    height: 30vh;
    background: rgb(9,13,14);
    background: linear-gradient(315deg, rgba(9,13,14,1) 35%, rgba(28,37,40,1) 77%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    font-family: $cfDev_primaryFont;
    color:$cfDev_textPrimaryColor;
    

  
}

.footer-logo{
    width: 20%;
    height: 80%;
    margin-left: 1%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.footer-social-media{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    justify-content: center;
    align-items: center;
}


.footer-social-media-icons{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        height: 90%;
        width: 90%;
    }
}


@media screen and (max-width:678px) {

    .footer{
        height: 50vh;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        width: 75%;
        height: 30%;
        margin-left: 1%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer-social-media{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    justify-content: center;
    align-items: center;
}

.footer-social-media-icons{
    width: 70%;
    height: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg{
        height: 90%;
        width: 90%;
    }
}

}
