@import "../variables";

.footer{
    width: 100vw;
    height: 30vh;
    background: rgb(1,242,127);
    background: linear-gradient(90deg, rgba(1,242,127,1) 0%, rgba(12,103,84,1) 72%, rgba(15,68,63,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    font-family: $cfDev_primaryFont;
    color:$cfDev_tertiaryColor;
    

  
}

.footer-logo{
    width: 20%;
    height: 80%;
    margin-left: 1%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.footer-social-media{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    justify-content: center;
    align-items: center;
}


.footer-social-media-icons{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg{
        height: 90%;
        width: 90%;
    }
}

