@import "../variables";


.mobile-menu-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $backgroun_color1;
    color:$backgroun_color2;
    width: 50vw;
    height: 100vh;
    z-index: 50;
    right: 0;
    font-size: 2rem;
}

.mobile-menu-list{
    margin: 0 auto;
   
    width: 80%;
    height: 50%;
    ul{
        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;

    }
}

.mobile-menu-social-media{
    width: 100%;
    height: 10%;
    color:$cfDev_primaryColor;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}