@import "../variables";


.mobile-menu-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $backgroun_color1;
    color:$backgroun_color2;
    width: 50vw;
    height: 100vh;
    z-index: 50;
    right: 0;
    font-size: 2rem;
    transition: 1s ease;
    transform: translateX(200%);
}

.mobile-menu-list{
    margin: 0 auto;
   
    width: 80%;
    height: 50%;
    ul{
   
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;

        li{

            text-align: center;
        }
        li:active{
            color:$cfDev_primaryColor
        }

    }
}

.mobile-menu-social-media{
    width: 100%;
    height: 10%;
    color:$cfDev_primaryColor;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a{
        text-decoration: none;
        color:$cfDev_textPrimaryColor;
    }
}


.mobileMenuOpen{
    transform: translateX(0%);
}


.flag-mobile-container{
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        border-radius: 50%;
      }
 
  }



.flag-mobile{
    opacity: 0.5;
    width: 3.5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    
    
}

.flag-mobile-focus{
opacity: 1;
}