@import "../variables";

.navbar-container {
  width: 100vw;
  height: 15vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $cfDev_primaryFont;
  font-size: 2rem;
  font-weight: 400;
  color:$backgroun_color2;
  z-index: 40;
  background-color: rgba($color: #000000, $alpha: 0.05);
}

.navbar-menu {
  width: 50%;
  margin-right: 1%;

  ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
    li{cursor: pointer}
  }
}

.navbar-logo {
  width: 15%;
  height: 100%;


  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    cursor: pointer

  }
}

li:hover {
  color: $cfDev_primaryColor;
}


.navbar-move {
  height: 15vh;
  opacity: 0.9;
  background-color: $backgroun_color1;
  color:$cfDev_textPrimaryColor
}

.navbar-logo-move {
  width: 15%;
  height: 100%;
  cursor: pointer
}


.flag-container{
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag{
  height: 100%;
  opacity: 0.5;
  display: flex;
  aspect-ratio: 1;
  svg{
    border-radius: 50%;
  }

}

.flag-focus{
  opacity: 1;
}





//animation

.navbarReveal {
  animation-name: navbarReveal;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


@keyframes navbarReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media screen and (max-width:1200px) {

  .navbar-menu {
    width: 60%;

  }

}

@media screen and (max-width:860px) {

  .navbar-menu {
    width: 70%;

  }

}