@import "../variables";

.navbar-container {
  position: fixed;
  width: 100vw;
  height: 15vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $cfDev_primaryFont;
  font-size: 2rem;
  font-weight: 400;
  color:$backgroun_color2;
  z-index: 40;
  background-color: rgba($color: #000000, $alpha: 0.2);
}

.navbar-menu {
  width: 45%;
  margin-right: 2%;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
}

.navbar-logo {
  width: 15%;
  height: 100%;


  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;

  }
}

li:hover {
  color: $cfDev_primaryColor;
}


.navbar-move {
  height: 15vh;
  opacity: 0.9;
  background-color: $backgroun_color1;
  color:$cfDev_textPrimaryColor
}

.navbar-logo-move {
  width: 15%;
  height: 55%;
}


.flag-container{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag{
  height: 100%;
  display: flex;
  aspect-ratio: 1;
  svg{
    border-radius: 50%;
  }

}


//animation

.navbarReveal {
  animation-name: navbarReveal;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


@keyframes navbarReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
