@import "../variables";
.service-card{
    height: 100%;
    width: 100%;
    color: $cfDev_textTerciaryColor;
    font-weight: 400;
    flex-shrink: 0;
    perspective: 2000px;
   

    h2{
        color: $cfDev_textPrimaryColor;
        font-size: 2.2rem;
        font-weight: 600;

    }

    p{
        font-size: 1.5rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
      

    }
}

.flip-card{
    position: relative;
    row-gap: 3%;
    width: 100%;
    height: 100%;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
    
}
.flip-card:hover{
    transform: rotateY(-180deg);
}


.flip-card-front{
    position: absolute;
    backface-visibility: hidden;
    
    background-color:#ffff;
    box-shadow: 4px 8px 16px lightgray;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3%;
    width: 100%;
    height: 100%;


}

.flip-card-back{
    position: absolute;
    backface-visibility: hidden;
    background: rgb(1,242,127);
    background: linear-gradient(315deg, rgba(1,242,127,1) 0%, rgba(12,103,84,1) 72%, rgba(15,68,63,1) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    row-gap: 3%;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);

    h2{
        color: $cfDev_primaryColor;
        font-size: 2.2rem;
        font-weight: 600;

    }
}





.service-icon-container-front{
    width: 30%;
    aspect-ratio: 1;
    margin-top: 5%;
    svg{
        fill:$cfDev_textPrimaryColor;
        stroke: $cfDev_textPrimaryColor;
        stroke-width: 1;

    }
}


.service-icon-container{
    width: 30%;
    aspect-ratio: 1;
    margin-top: 5%;
    svg{
        fill:$cfDev_primaryColor;
        stroke: $cfDev_primaryColor;
        stroke-width: 1;

    }
}


