@import "../variables";
.service-card{
    height: 60vh;
    width: 20vw;
    background: rgb(9,13,14);
    background: linear-gradient(315deg, rgba(9,13,14,1) 35%, rgba(28,37,40,1) 77%);
    color: $cfDev_textTerciaryColor;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3%;
    font-weight: 400;
    flex-shrink: 0;
   

    h2{
        color: $cfDev_primaryColor;
        font-size: 2.2rem;
        font-weight: 600;

    }

    p{
        font-size: 1.5rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
      

    }
}


.service-icon-container{
    width: 30%;
    aspect-ratio: 1;
    margin-top: 5%;
    svg{
        fill:$cfDev_primaryColor;
        stroke: $cfDev_primaryColor;
        stroke-width: 1;

    }
}

