@import "../variables";
.service-card{
    height: 60vh;
    width: 20vw;
    background: rgb(1,242,127);
    background: linear-gradient(90deg, rgba(1,242,127,1) 0%, rgba(12,103,84,1) 72%, rgba(15,68,63,1) 100%);
    color: $backgroun_color1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3%;
    font-weight: 400;
    flex-shrink: 0;
   

    h2{
        font-size: 2.2rem;
        font-weight: 600;

    }

    p{
        font-size: 1.5rem;
        text-align: center;
      

    }
}

.service-icon-container{
    width: 35%;
    aspect-ratio: 1;
    margin-top: 5%;
}

