.whatsapp-contacts-container{

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    bottom: 5%;
    right: 5%;
  width: 30%;
  z-index: 10;
  padding-bottom: 10px;
  border-radius: 15px;

  background: linear-gradient(315deg, rgba(1,242,127,1) 0%, rgba(12,103,84,1) 72%, rgba(15,68,63,1) 100%);
transform: translateX(200%);
    .auxiliar-close-icon{
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 8px 8px 0 0;
    }
    h5{
        font-size: 1.35rem;
        font-weight: 600;
        color:$cfDev_textTertiaryColor;
        align-self: flex-start;
        margin-left: 5%;
    }
}

.whatsapp-card{
    width: 90%;
    height: 15vh;
    display: flex;
    align-items: center;
    column-gap: 10%;

    border-radius: 15px;
    background: linear-gradient(315deg, rgba(9,13,14,1) 35%, rgba(28,37,40,1) 77%);
    cursor: pointer;

 
    .whatsapp-card-image-container{
        height: 70%;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 10%;
        flex-shrink: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            background: $background_color2;
        }
    }

    .whatsapp-card-info-container{
        h4{
            font-size: 2rem;
            font-weight: 600;
            color: $cfDev_primaryColor;
        }
        p{
            font-size: 1.4rem;
            color: #696969;;
        }
    }
}



.button-whatsapp-out{
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
}


.active-whatsapp{
    opacity: 1;
    transform: translateX(0%);
}

@media screen and (max-width: 1024px) {
 
    .whatsapp-contacts-container{
        width: 50%;
    }
  }

@media screen and (max-width: 678px) {
 
    .whatsapp-contacts-container{
        width: 90%;
    }
  }
  


  

