.button-whatsapp{
    position: fixed;
    right:2%;
    bottom: 10%;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 100;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    
    img{
        height: 50%;
        width: 50%;
    }
}



