$background_color1: #000000;
$background_color2: #eaeaea;
$background_color3: #1d2428;
$background_color4: #0f1a1e;
$background_color5: #eaeaea;

//primary colors
$cfDev_primaryColor: #01f27f;
$cfDev_secondaryColor: #0c6754;
$cfDev_tertiaryColor: #12232b;
$cfDev_quaternaryColor: #0f443f;


//fonts

$cfDev_primaryFont: "Poppins", sans-serif;
$cfDev_textPrimaryColor: #089f65;
$cfDev_textSecondaryColor: #696969;
$cfDev_textTertiaryColor: #dbeaea;

$cfDev_accentColor:#C36DBC;
