@import "./variables";
@import "./views/header";
@import "./views/aboutUs";
@import "./components/navbar";
@import "./components/footer";
@import "./views/services";
@import "./views/contact";
@import "./components/servicesCard";
@import "./components/projectCard";
@import "./views/projects";
@import "./components/carrusel";
@import "./views/clients";
@import "./components/mobileNavbar";
@import "./components/mobileMenu";
@import "./components/popUp";
@import "./components/whatsAppContacts";
@import "./components/whatsAppButton";
@import "./views/privacyPolicy";



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    font-family: $cfDev_primaryFont;
    background-color: $background_color3;
}


::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $cfDev_primaryColor;
    border-radius: 5px; /* Radio de borde del dedo de la barra de desplazamiento */
  }

  ::-webkit-scrollbar-track {
    background-color:$background_color3; /* Color de fondo de la pista de la barra de desplazamiento */
    
  }

  ::-webkit-scrollbar-corner {
    background-color: red;
    width: 20px;
    height: 20px;
  }


  




  //ANIMACIONES

.efectoReveal {
  animation-name: efectoReveal;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes efectoReveal {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


.efectoReveal2 {
  animation-name: efectoReveal;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}


.efectoRevealOut {
  animation-name: efectoRevealOut;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes efectoRevealOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
  

main{
  position: relative;
  overflow-x: hidden;
  
}

button{
  cursor: pointer;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 29ch;
  }
}

@keyframes blink {
  50% {
    border-color: $cfDev_primaryFont;
  }
}

.logoReveal {
  animation-name: logoReveal;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes logoReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerOut {
  animation-name: headerOut;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes headerOut {
  from {
    opacity: 1;
  }
  to {
    transform: translateX(0%) scale(1);

    opacity: 0;
  }
}